<!-- Generated template for the AutoInputComponent component -->
<form [formGroup]="_form">
<ion-grid [hidden]="_hidden" [ngClass]="[(_form.controls['data'].valid)?'formBoxValid':'formBoxInalid']">
  <ion-row>
    <ion-col *ngIf="_label != undefined" class="formTextLabel">
      <ion-label>{{_label}}
      </ion-label>
    </ion-col>
    <ion-col>
      <button ion-fab [(tooltip)]="_txt_help" positionV="bottom" arrow class="formHelpButton" float-right>?</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-input formControlName="data" placeholder="{{_placeholder}}" min="{{_min}}" maxlength="{{_max}}" [(ngModel)]="_value" [disabled]="!_enabled" [ngClass]="[(_form.controls['data'].valid)?'formTextValid':'formTextInalid']" (keyup)="onChange($event)"></ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label color="danger" *ngIf="(!_form.controls['data'].valid && _txt_required != undefined)" stacked  class="formErrorText">* {{_txt_required}}</ion-label>
    </ion-col>
  </ion-row>
</ion-grid>
<br>
</form>
